<nav class="navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#warcraftlfg-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-2x fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#/">
                    &nbsp;
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="warcraftlfg-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/character/list">{{"CHARACTERS"|translate}}</a></li>
                <li><a href="#/guild/list">{{"GUILDS"|translate}}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!user.logged_in">
                    <a href="/auth/bnet"><i class="fa fa-lg fa-arrow-circle-right"></i> {{"CONNECT_BNET" | translate}}</a>
                </li>
                <li ng-if="user.logged_in" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.battleTag}} <span class="caret"></span></a>
                    <ul  class="dropdown-menu">
                        <li><a href="#/account/"><i class="fa fa-user m-r-5"></i> {{"ACCOUNT" | translate}}</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-power-off m-r-5"></i> {{"LOGOUT" | translate}}</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>