<section class="header header-character">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 ng-if="character"><span class="icon-medium faction-{{character.bnet.faction}}"></span><span class="icon-medium class-{{character.bnet.class}}">{{ character.name }}</span></h1>
                    <h1  ng-if="!character">{{"CHARACTER_NOT_FOUND"|translate}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <span ng-if="character">{{ character.realm }} - {{ character.region|uppercase}}</span>
                    <span ng-if="!character">{{ "CHARACTERS_DESCRIPTION"|translate}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="character-read">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 m-b-20">
                        <button ng-click="updateCharacter()" type="button" class="btn btn-default" aria-label="Update Character">
                            <i class="fa fa-refresh"></i> {{"UPDATE_CHARACTER"|translate}}
                        </button>
                        <span class="m-l-10" ng-if="queuePosition">
                            {{"QUEUE_POSITION"|translate}} {{queuePosition}} - {{"QUEUE_CHECK_MESSAGE"|translate}}
                        </span>
                    </div>
                    <!--<div class="col-md-6 m-b-20 text-right">
                        <a data-url="{{ current_url }}" ng-click="" class="cursor-pointer fa-icon">
                            <i class="fa fa-facebook f-32"></i>
                        </a>
                        &nbsp; &nbsp;
                        <a data-url="{{ current_url }}" ng-click="" class="cursor-pointer  fa-icon">
                            <i class="fa fa-twitter f-32"></i>
                        </a>
                    </div>-->
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img ng-src="https://render-api-{{ character.region}}.worldofwarcraft.com/static-render/{{ character.region}}/{{character.bnet.thumbnail}}" alt="avatar" class="img-responsive" />
                                    </div>
                                    <div class="col-md-5">
                                        <div class="class-{{character.bnet.class}} f-20 overflow">{{ character.name }}</div>
                                        <div class="faction-{{character.bnet.faction}} overflow"> {{character.bnet.guild.name}}</div>
                                        <div class="overflow">{{ character.realm }} - {{ character.region|uppercase}}</div>
                                         <div class="overflow">{{"RACE_"+character.bnet.race|translate }} - {{ character.bnet.level }}</div>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <div ng-if="character.ad.role.tank||character.ad.role.healer||character.ad.role.melee_dps||character.ad.role.ranged_dps">
                                            <span ng-if="character.ad.role.tank" class="m-l-10"><img src="/assets/images/icon/32/tank.png" /></span>
                                            <span ng-if="character.ad.role.healer" class="m-l-10"><img src="/assets/images/icon/32/healing.png" /></span>
                                            <span ng-if="character.ad.role.melee_dps" class="m-l-10"><img src="/assets/images/icon/32/dps.png" /></span>
                                            <span ng-if="character.ad.role.ranged_dps" class="m-l-10"><img src="/assets/images/icon/32/melee-dps.png" /></span>
                                        </div>
                                        <div ng-if="!character.ad.role.tank&&!character.ad.role.healer&&!character.ad.role.melee_dps&&!character.ad.role.ranged_dps">
                                            <span ng-if="talent.spec.name" ng-repeat="talent in character.bnet.talents" class="m-l-10">
                                                <img ng-src="http://{{character.region}}.media.blizzard.com/wow/icons/36/{{talent.spec.icon}}.jpg" alt="{{talent.spec.name}}" title="{{talent.spec.name}}" />
                                            </span>
                                        </div>
                                        <div class="m-t-10">
                                            <span class="m-l-10 f32" ng-if="character.ad.languages.length > 0" ng-repeat="language in character.ad.languages">
                                                <span class="flag {{language|lowercase}}">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="character.ad.description" class="row m-t-10">
                                    <div class="col-md-12">
                                        <pre class="m-t-5 m-b-0">{{character.ad.description.trim() }}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        Ad updated : <span am-time-ago="character.ad.updated"></span>
                                    </div>
                                    <div class="col-md-6">
                                        Character updated :  <span am-time-ago="character.updated"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        Raid per week : {{ character.ad.raids_per_week.min }} - {{ character.ad.raids_per_week.max }}
                                    </div>
                                    <div class="col-md-12 m-t-10" ng-if="character.ad.timezone">
                                        Timezone : {{"TIMEZONE_"+character.ad.timezone|uppercase|translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-condensed" ng-if="character.ad.play_time">
                                    <tr ng-repeat="(key, day) in character.ad.play_time" ng-if="day.play == true">
                                        <td>
                                            {{ 'DAY_'+key|uppercase|translate }}
                                        </td>
                                        <td>
                                            {{ ("0"+day.start.hour).slice(-2) }}h {{ ("0"+day.start.min).slice(-2) }}
                                        </td>
                                        <td>
                                            {{ ("0"+day.end.hour).slice(-2) }}h {{ ("0"+day.end.min).slice(-2) }}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Progress (T18) : <span wlfg-progress="character.bnet.progression.raids"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed" ng-repeat="raid in character.bnet.progression.raids | limitTo:-1">
                                    <tr ng-repeat="boss in raid.bosses | limitTo:7">
                                        <td class="bold">{{ boss.name }}</td>
                                        <td ng-class="{'legendary':boss.mythicKills>0,'epic':boss.heroicKills>0&&boss.mythicKills==0,'rare':boss.normalKills>0&&boss.mythicKills==0&&boss.heroicKills==0,'uncommon':boss.lfrKills>0&&boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0,'common':boss.lfrKills==0&&boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0}">
                                            <span ng-if="boss.mythicKills>0">Mythic</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills>0">Heroic</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills>0">Normal</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills>0">LFR</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills==0">No kill</span>
                                        </td>
                                        <td>
                                            <span ng-if="boss.mythicKills>0">{{boss.mythicKills}}</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills>0">{{boss.heroicKills}}</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills>0">{{boss.normalKills}}</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills>0">{{boss.lfrKills}}</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills==0">0</span>
                                        </td>
                                        <td>
                                            <span ng-if="boss.mythicKills>0" am-time-ago="boss.mythicTimestamp"></span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills>0" am-time-ago="boss.heroicTimestamp"></span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills>0" am-time-ago="boss.normalTimestamp"></span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills>0" am-time-ago="boss.lfrTimestamp"></span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills==0">&nbsp;</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-condensed" ng-repeat="raid in character.bnet.progression.raids | limitTo:-1">
                                    <tr ng-repeat="boss in raid.bosses | limitTo:-6">
                                        <td class="bold">{{ boss.name }}</td>
                                        <td ng-class="{'legendary':boss.mythicKills>0,'epic':boss.heroicKills>0&&boss.mythicKills==0,'rare':boss.normalKills>0&&boss.mythicKills==0&&boss.heroicKills==0,'uncommon':boss.lfrKills>0&&boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0,'common':boss.lfrKills==0&&boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0}">
                                            <span ng-if="boss.mythicKills>0">Mythic</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills>0">Heroic</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills>0">Normal</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills>0">LFR</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills==0">No kill</span>
                                        </td>
                                        <td>
                                            <span ng-if="boss.mythicKills>0">{{boss.mythicKills}}</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills>0">{{boss.heroicKills}}</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills>0">{{boss.normalKills}}</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills>0">{{boss.lfrKills}}</span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills==0">0</span>
                                        </td>
                                        <td>
                                            <span ng-if="boss.mythicKills>0" am-time-ago="boss.mythicTimestamp"></span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills>0" am-time-ago="boss.heroicTimestamp"></span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills>0" am-time-ago="boss.normalTimestamp"></span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills>0" am-time-ago="boss.lfrTimestamp"></span>
                                            <span ng-if="boss.mythicKills==0&&boss.heroicKills==0&&boss.normalKills==0&&boss.lfrKills==0">&nbsp;</span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        Item level :
                                        <span ng-class="{legendary:character.bnet.items.averageItemLevelEquipped>=725,epic:character.bnet.items.averageItemLevelEquipped>=715&&character.bnet.items.averageItemLevelEquipped<725,rare:character.bnet.items.averageItemLevelEquipped>=705&&character.bnet.items.averageItemLevelEquipped<715,uncommon:character.bnet.items.averageItemLevelEquipped<705}">
                                            {{character.bnet.items.averageItemLevelEquipped}}
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        Item level bag :
                                        <span ng-class="{legendary:character.bnet.items.averageItemLevel>=725,epic:character.bnet.items.averageItemLevel>=715&&character.bnet.items.averageItemLevel<725,rare:character.bnet.items.averageItemLevel>=705&&character.bnet.items.averageItemLevel<715,uncommon:character.bnet.items.averageItemLevel<705}">
                                            {{character.bnet.items.averageItemLevel}}
                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        Ring iLevel :
                                        <span wlfg-legendary-ring wlfg-legendary-ring-1="character.bnet.items.finger1" wlfg-legendary-ring-2="character.bnet.items.finger2"></span>
                                    </div>
                                    <div class="col-md-2">
                                        T18 equipped : <span wlfg-item-t18="character.bnet.items" character-class="{{ character.bnet.class }}"></span>
                                    </div>
                                    <div class="col-md-2">
                                        Endless rune : <span wlfg-reputation-rune="character.bnet.reputation"></span>
                                    </div>
                                    <div class="col-md-2">
                                        Audit : <span wlfg-item-audit="character.bnet.items"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed">
                                    <tr wlfg-item='character.bnet.items["head"]' slot="Head"></tr>
                                    <tr wlfg-item='character.bnet.items["neck"]' slot="Neck"></tr>
                                    <tr wlfg-item='character.bnet.items["shoulder"]' slot="Shoulder"></tr>
                                    <tr wlfg-item='character.bnet.items["back"]' slot="Back"></tr>
                                    <tr wlfg-item='character.bnet.items["chest"]' slot="Chest"></tr>
                                    <tr wlfg-item='character.bnet.items["shirt"]' slot="Shirt"></tr>
                                    <tr wlfg-item='character.bnet.items["tabard"]' slot="Tabard"></tr>
                                    <tr wlfg-item='character.bnet.items["wrist"]' slot="Wrist"></tr>
                                    <tr wlfg-item='character.bnet.items["mainHand"]' slot="Mainhand"></tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-condensed">
                                    <tr wlfg-item='character.bnet.items["hands"]' slot="Hands"></tr>
                                    <tr wlfg-item='character.bnet.items["waist"]' slot="Waist"></tr>
                                    <tr wlfg-item='character.bnet.items["legs"]' slot="Legs"></tr>
                                    <tr wlfg-item='character.bnet.items["feet"]' slot="Feet"></tr>
                                    <tr wlfg-item='character.bnet.items["finger1"]' slot="Finger #1"></tr>
                                    <tr wlfg-item='character.bnet.items["finger2"]' slot="Finger #2"></tr>
                                    <tr wlfg-item='character.bnet.items["trinket1"]' slot="Trinket #1"></tr>
                                    <tr wlfg-item='character.bnet.items["trinket2"]' slot="Trinket #2"></tr>
                                    <tr wlfg-item='character.bnet.items["offHand"]' slot="Offhand"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        Gold :  <span wlfg-challenge-medal="character.bnet.achievements" medal-type="gold"></span>
                                    </div>
                                    <div class="col-md-2">
                                        Silver :  <span wlfg-challenge-medal="character.bnet.achievements" medal-type="silver"></span>
                                    </div>
                                    <div class="col-md-2">
                                        Bronze : <span wlfg-challenge-medal="character.bnet.achievements" medal-type="copper"></span>
                                    </div>
                                    <div class="col-md-2">
                                       Tank : <span wlfg-achievement-pg="character.bnet.achievements" pg-type="tank"></span>
                                    </div>
                                    <div class="col-md-2">
                                        DPS : <span wlfg-achievement-pg="character.bnet.achievements" pg-type="dps"></span>
                                    </div>
                                    <div class="col-md-2">
                                        Healer : <span wlfg-achievement-pg="character.bnet.achievements" pg-type="healer"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed">
                                    <tr wlfg-challenge-instance='character.bnet.challenge.records' instance-id="1182"></tr>
                                    <tr wlfg-challenge-instance='character.bnet.challenge.records' instance-id="1208"></tr>
                                    <tr wlfg-challenge-instance='character.bnet.challenge.records' instance-id="1176"></tr>
                                    <tr wlfg-challenge-instance='character.bnet.challenge.records' instance-id="1279"></tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <table class="table table-condensed">
                                    <tr wlfg-challenge-instance='character.bnet.challenge.records' instance-id="1358"></tr>
                                    <tr wlfg-challenge-instance='character.bnet.challenge.records' instance-id="1195"></tr>
                                    <tr wlfg-challenge-instance='character.bnet.challenge.records' instance-id="1209"></tr>
                                    <tr wlfg-challenge-instance='character.bnet.challenge.records' instance-id="1175"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-if="character.warcraftLogs.logs">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-2">
                                        WarcraftLogs
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-condensed character-class-{{character.bnet.class}}" wlfg-warcraft-logs-info="character.warcraftLogs.logs">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>