<section class="header header-character">
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{ "CHARACTERS"|translate}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ "CHARACTERS_DESCRIPTION"|translate}}
                </div>
            </div>
        </div>
    </div>
</section>
<div class="character-list" >
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <div class="filters p-10">
                    <div class="m-b-20">
                        <span class="css3-metro-dropdown">
                            <select ng-model="filters.region" class="form-control">
                                <option value="">{{"ALL_REGION"|translate}}</option>
                                <option value="us">US</option>
                                <option value="eu">EU</option>
                                <option value="kr">KR</option>
                                <option value="tw">TW</option>
                            </select>
                        </span>
                    </div>
                    <div class="m-b-20">
                        <div isteven-multi-select
                             input-model="realms"
                             button-label="label"
                             item-label="label"
                             output-properties="region connected_realms"
                             tick-property="selected"
                             translation="localRealms"
                             selection-mode="single"
                             on-item-click="setRealm(data)"
                             on-reset="resetRealm()"
                        >
                        </div>
                    </div>
                    <div class="m-b-20">
                        <div isteven-multi-select
                             input-model="languages"
                             output-model="filters.languages"
                             button-label="name"
                             item-label="name"
                             output-properties="id"
                             tick-property="selected"
                             translation="localLanguages"
                             max-height="300px"
                        >
                        </div>
                    </div>
                    <div class="m-b-20">
                        <span class="css3-metro-dropdown">
                            <select ng-model="filters.faction" ng-change="updateFilters()" class="form-control">
                                <option value="">{{"ALL_FACTION"|translate}}</option>
                                <option value="0">{{"ALLIANCE"|translate}}</option>
                                <option value="1">{{"HORDE"|translate}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="m-b-20">
                        <div isteven-multi-select
                             input-model="roles"
                             output-model="filters.roles"
                             button-label="icon name"
                             item-label="icon name"
                             output-properties="id"
                             tick-property="selected"
                             translation="localRoles"
                        >
                        </div>
                    </div>
                    <div class="m-b-20">
                        <div isteven-multi-select
                             input-model="classes"
                             output-model="filters.classes"
                             button-label="icon name"
                             item-label="icon name"
                             output-properties="id selected"
                             tick-property="selected"
                             translation="localClasses">
                        </div>
                    </div>
                    <div class="m-b-20">
                        <div isteven-multi-select
                             input-model="days"
                             output-model="filters.days"
                             button-label="name"
                             item-label="name"
                             output-properties="id"
                             tick-property="selected"
                             translation="localDays">
                        </div>
                    </div>
                    <div class="m-b-20">
                        <span class="css3-metro-dropdown">
                            <select ng-model="filters.timezone" ng-change="updateFilters()" class="form-control">
                                <option ng-repeat="timezone in timezones" value="{{timezone}}">{{"TIMEZONE_"+timezone|uppercase|translate}}</option>
                            </select>
                        </span>
                    </div>
                    <div class="m-b-20">
                        <label>
                            <input ng-model="filters.raids_per_week.active" ng-change="updateFilters()" type="checkbox"> Raids per week</label>
                        <div ng-if="filters.raids_per_week.active">
                            {{filters.raids_per_week.min}} - {{filters.raids_per_week.max}}
                            <angular-ranger min="1" max="7" step="1" min-value="filters.raids_per_week.min" max-value="filters.raids_per_week.max"></angular-ranger>
                        </div>
                    </div>
                    <div class="m-b-20">
                        <div class="checkbox">
                            <label>
                                <input ng-model="filters.transfert" ng-change="updateFilters()" type="checkbox"> Transfert
                            </label>
                        </div>
                    </div>
                    <div class="m-b-20">
                        <div class="checkbox">
                            <label>
                                <input ng-model="filters.lvlmax" ng-change="updateFilters()" type="checkbox">  Level 100
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-9" infinite-scroll="getMoreCharacters()">
                <div class="cartouche cartouche-faction-{{character.bnet.faction}}" ng-repeat="character in characters">
                    <div class="character character-faction-{{character.bnet.faction}}">
                        <a href="#/character/{{ character.region }}/{{ character.realm }}/{{ character.name }}/" class="div-link"></a>
                        <div class="row">
                            <div class="col-md-4 col-lg-4">
                                <div class="overflow class-{{character.bnet.class}}">
                                    <a class="icon-medium class-{{character.bnet.class}} f-28" href="#/character/{{ character.region }}/{{ character.realm }}/{{ character.name }}/">
                                        {{character.name}}
                                    </a>
                                </div>
                                <div class="overflow character-info-padding">
                                    {{character.realm}} ({{character.region|uppercase}})
                                </div>
                                <div class="overflow character-info-padding faction-{{character.bnet.faction}}">
                                         {{character.bnet.guild.name}}
                                </div>
                                <div class="character-info-padding">
                                    Level {{character.bnet.level}}
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-4">
                                <div>
                                    Languages : 
                                    <span ng-if="character.ad.languages.length > 0" ng-repeat="language in character.ad.languages">{{"LANG_"+language|uppercase|translate}}&nbsp;</span>
                                    <span ng-if="!character.ad.languages.length">{{ "LANG_NONE"|translate }}</span>
                                </div>
                                <div ng-if="character.ad.role.tank || character.ad.role.heal || character.ad.role.melee_dps || character.ad.role.ranged_dps">
                                    Role :&nbsp;
                                    <span ng-if="character.ad.role.tank" class="icon-small tank"></span>
                                    <span ng-if="character.ad.role.heal" class="icon-small heal"></span>
                                    <span ng-if="character.ad.role.melee_dps" class="icon-small dps"></span>
                                    <span ng-if="character.ad.role.ranged_dps" class="icon-small ranged-dps"></span>
                                </div>
                                <div>
                                    Raids per week : {{character.ad.raids_per_week.min}} - {{character.ad.raids_per_week.max}}
                                </div>
                                <div>
                                    iLvl : 
                                    <span ng-class="{'legendary':character.bnet.items.averageItemLevelEquipped>=725,'epic':character.bnet.items.averageItemLevelEquipped>=715&&character.bnet.items.averageItemLevelEquipped<725,'rare':character.bnet.items.averageItemLevelEquipped>=705&&character.bnet.items.averageItemLevelEquipped<715,'uncommon':character.bnet.items.averageItemLevelEquipped<705}">
                                        {{character.bnet.items.averageItemLevelEquipped}}
                                    </span>
                                </div>
                                <div>
                                    Ring :&nbsp;
                                    <span wlfg-legendary-ring wlfg-legendary-ring-1="character.bnet.items.finger1" wlfg-legendary-ring-2="character.bnet.items.finger2"></span>
                                </div>
                            </div>
                            <div class="col-md-5 col-lg-4 character-class-{{character.bnet.class}}">
                                <div class="wlfg-progress">
                                    <div class="row">
                                        <div class="col-md-12">
                                            Progress : &nbsp;
                                            <span wlfg-progress="character.bnet.progression.raids"></span>
                                        </div>
                                    </div>
                                </div>
                                <span wlfg-warcraft-logs="character.warcraftLogs.logs" character-class="character.bnet.class"></span>
                            </div>
                        </div>
                        <div class="character-timestamp">
                            <span am-time-ago="{{character.ad.updated| amSubtract : '1' : 'minute'}}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-3"></div>
            <div class="col-md-9 col-lg-9 text-center m-t-10 m-b-10">
                <i class="fa fa-3x fa-spinner fa-spin" ng-if="loading"></i>
            </div>
        </div>
    </div>
</div>